{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
  
  <!-- Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="title" content="StrapUI - Free Bootstrap Themes &amp; Premium Bootstrap Templates">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="StrapUI brings you the best Twitter Bootstrap templates and themes on the web. Buy bootstrap themes." />
  <meta name="keywords" content="twitter bootstrap themes,bootstrap themes,bootstrap templates,twitter bootstrap templates,cleanstrap,flat,themes,flatui,buy themes,cheap,quality,design,templates" />
  
  <title>New Editor KPIs | V1</title>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
  <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
</head>

<body id="top" ng-app="kpis.demo" class="index" data-spy="scroll" data-target=".scrollnav" data-offset="95">


  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="index.html">New Editor KPIs | V1</a>
     </div>
   </div>
 </div>

<div class="container">


<!-- Masthead
================================================== -->
  <div class="subnav scrollnav">
    <ul class="nav nav-pills">
      <li><a href="http://127.0.0.1:8000/kpis/">Overview</a></li>
      <li><a href="http://127.0.0.1:8000/rawdata"/>Raw Data Publisher</a></li>
      <li><a href="#typo"/>Raw Data Stoyo</a></li>      
    </ul>
  </div>
</header>

{%verbatim%}
<!-- Tables
================================================== -->
<section id="tables">
  <div class="page-header">
    <h1>Raw Data Publishers</h1>
  </div>
  
  <table class="table table-bordered table-striped table-hover" ng-controller="PubController">
    <thead>
      <tr>
        <th>Date</th>
        <th>Publisher</th>
        <th>Titre</th>
        <th>Link</th>
        <th>Views</th>
        <th>Reactions</th>
        <th>Comments</th>
        <th>Shares</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "publisher in data">
        <td>{{publisher.datepub}}</td>          
        <td>{{publisher.page_name}}</td>
        <td>{{publisher.title}}</td>
        <td>{{publisher.link}}</td>
        <td>{{publisher.views}}</td>
        <td>{{publisher.reactions}}</td>
        <td>{{publisher.comments}}</td>
        <td>{{publisher.shares}}</td>
      </tr>
    </tbody>
  </table>
</section>
{%endverbatim%}

     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
      </footer>

    </div><!-- /container -->
  <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{% static "art.js"%}"></script>
  <script src="{% static "js/jquery.smooth-scroll.min.js"%}"></script>
  <script src="{% static "js/bootstrap.min.js"%}"></script>
  <script src="{% static "js/retro.js"%}"></script>
  <script type="text/javascript">

</body>
</html>
